#head{
font-family: Ubuntu,sans-serif;
color:#f66;
background-color:#dff;

align-content: center;    
}

#body{
background-color: #fff;
}
#Intro{
font-family: Ubuntu,sans-serif;
color:#00f;
background-color:inherit;
width:100%;
}

#map-canvas {

height: 66%;
margin: 0px;
padding: 0px
      }

#To{
width:50%;
    height:10%;
    font-size: 200%
}

#From{
width:50%;
    height:10%;
    font-size: 200%
}