#head{
font-family: Ubuntu,sans-serif;
color:#f66;
background-color: #eee;

align-content: center;    
}

#body{
background-color: #eef
}
#Intro{
font-family: Ubuntu,sans-serif;
color:#00f;
background-color:inherit;
width:90%;
}

#map-canvas {
width: 10%;
height: 10%;
margin: 0px;
padding: 0px
      }